.pageInicial{
    margin-top: 8%;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}
.pageHome{
    text-align: center;
}

.button {

    width: 20%;

    height: 40px;

    margin-bottom: 1%;

    background: #B9DFFF;
    
    color: #fff;
    
    border: 1px solid #eee;
    
    border-radius: 20px;
    
    box-shadow: 5px 5px 5px #eee;
    
    text-shadow:none;
    
    }
    
    .button:hover {
    
    background: #016ABC;
    
    color: #fff;
    
    border: 1px solid #eee;
    
    border-radius: 20px;
    
    box-shadow: 5px 5px 5px #eee;
    
    text-shadow:none;
    
    }